<!DOCTYPE html>
<html>
<head>
  <title>Fun with external data</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <%= render "shared/navbar" %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <%= yield %>

      </div>
    </div>
  </div>
</body>
</html>
